mixin album(a)
  .album-container.mdc-layout-grid__cell.mdc-elevation--z5&attributes(attributes)
    .mdc-image-list__image-aspect-container
      img.album-img.mdc-image-list__image(src=a.ou target='_blank')
    a.download-mask(href=a.ou target='_blank')
      i.material-icons get_app
    a.album-meta.mdc-elevation--z5(href=a.ru target='_blank')
      i.material-icons link
      span= a.pt

mixin albums(albums)
  .albums.albums-result
    if albums
      .mdc-layout-grid
        .mdc-layout-grid__inner
          for a in albums.slice(0, 1)
            +album(a).mdc-layout-grid__cell--span-4
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
            .mdc-layout-grid__inner
              for a in albums.slice(1, 9)
                +album(a).mdc-layout-grid__cell--span-3
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
            .mdc-layout-grid__inner
              for a in albums.slice(9, 21)
                +album(a).mdc-layout-grid__cell--span-2

mixin album-placeholder()
  .album-container.album-placeholder.mdc-layout-grid__cell.mdc-elevation--z5&attributes(attributes)
    .mdc-image-list__image-aspect-container
      .album-img.mdc-image-list__image

unless req.xhr
  doctype html
  html
    head
      title= title

      link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i" rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/app.css')

      script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
      script(src='https://unpkg.com/page/page.js')
      script(src='/javascripts/app.js')
    body(class=`page-${pageName}`)
      header.mdc-top-app-bar.mdc-top-app-bar--fixed.mdc-elevation--z6
        .mdc-top-app-bar__row
          section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
            a.mdc-top-app-bar__title(href="/")
              span.material-icons album
              h1 Holly Quintet
          section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end(role='toolbar')
            a.material-icons.mdc-top-app-bar__action-item(href='#', aria-label='Download', alt='Download') info

      .mdc-top-app-bar--fixed-adjust

      .form-container.mdc-layout-grid(data-controller='form')
        .mdc-layout-grid__inner
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-layout-grid__cell--align-middle
            form.mdc-layout-grid(action='/search' autocomplete='off')
              .mdc-layout-grid__inner
                .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-layout-grid__cell--align-middle.mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon(data-mdc-auto-init="MDCTextField")
                  i.material-icons.mdc-text-field__icon label_important
                  input.query#tf-outlined.mdc-text-field__input(type='text' name='query' autofocus value=query data-target="app.query")
                  label.mdc-floating-label(for='tf-outlined') 搜索专辑图片关键词
                  .mdc-notched-outline
                    svg
                      path.mdc-notched-outline__path
                  .mdc-notched-outline__idle

      .bg

      .content.mdc-elevation--z0
        .chips.mdc-chip-set.mdc-chip-set--filter(data-mdc-auto-init='MDCChipSet')
          for s in sites.map((s) => s.sites).reduce((a, b) => a.concat(b), [])
            .mdc-chip(class={'mdc-chip--selected': s.site === site} data-site=s.site)
              i.material-icons.mdc-chip__icon.mdc-chip__icon--leading(class={'mdc-chip__icon--leading-hidden': s.site === site}) radio_button_unchecked
              .mdc-chip__checkmark
                svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
                  path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
              .mdc-chip__text= s.name

        .albums.album-placeholder
          .mdc-layout-grid
            .mdc-layout-grid__inner
              +album-placeholder().mdc-layout-grid__cell--span-4
              .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
                .mdc-layout-grid__inner
                  - i = 1
                    while i < 9
                      - i += 1
                      +album-placeholder().mdc-layout-grid__cell--span-3

        +albums(albums)
else
  +albums(albums)
