mixin album(a)
  .album-container.mdc-layout-grid__cell.mdc-elevation--z3&attributes(attributes)
    .mdc-image-list__image-aspect-container
      img.album-img.mdc-image-list__image(src=a.ou)
    a.download-mask(href=getCoverDownloadSrc(a.ou, query) download=`${query}.jpg` target='_blank')
      i.material-icons get_app
    a.album-meta.mdc-elevation--z5(href=a.ru target='_blank')
      i.material-icons link
      span= a.pt

mixin albums(albums)
  .albums.albums-result(data-query=query)
    if albums && albums.length
      .mdc-layout-grid
        .mdc-layout-grid__inner
          for a in albums.slice(0, 1)
            +album(a).mdc-layout-grid__cell--span-4
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
            .mdc-layout-grid__inner
              for a in albums.slice(1, 9)
                +album(a).mdc-layout-grid__cell--span-3
    else
      .albums-empty 未搜到与“#{query}”相关的图片。

mixin album-placeholder()
  .album-container.album-placeholder.mdc-layout-grid__cell.mdc-elevation--z5&attributes(attributes)
    .mdc-image-list__image-aspect-container
      .album-img.mdc-image-list__image

