extends index

block content
  .mdc-elevation--z0
    .chips.mdc-chip-set.mdc-chip-set--filter(data-mdc-auto-init='MDCChipSet')
      .mdc-chip.mdc-chip--selected
        i.material-icons.mdc-chip__icon.mdc-chip__icon--leading.mdc-chip__icon--leading-hidden check_box_outline_blank
        .mdc-chip__checkmark
          svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
            path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
        .mdc-chip__text 全选
      for s in sites.map((s) => s.sites).reduce((a, b) => a.concat(b), [])
        .mdc-chip.mdc-chip--selected
          i.material-icons.mdc-chip__icon.mdc-chip__icon--leading.mdc-chip__icon--leading-hidden check_box_outline_blank
          .mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
              path.mdc-chip__checkmark-path(fill='none', stroke='black', d='M1.73,12.91 8.1,19.28 22.79,4.59')
          .mdc-chip__text= s.name

    .mdc-layout-grid.columns
      .mdc-layout-grid__inner
        for a in albums.slice(0, 1)
          +albulm(a).mdc-layout-grid__cell--span-4
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-8
          .mdc-layout-grid__inner
            for a in albums.slice(1, 9)
              +albulm(a).mdc-layout-grid__cell--span-3
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          .mdc-layout-grid__inner
            for a in albums.slice(9, 21)
              +albulm(a).mdc-layout-grid__cell--span-2

mixin albulm(a)
  .albulm-container.mdc-layout-grid__cell.mdc-elevation--z5&attributes(attributes)
    .mdc-image-list__image-aspect-container
      img.albulm.mdc-image-list__image(src=a.ou)
    a.download-mask(href=a.ou)
      i.material-icons get_app
    a.albulm-meta.mdc-elevation--z5(href=a.ru target='_blank')
      i.material-icons link
      span= a.pt
