doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='theme-color' content='#000')

    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='renderer' content='webkit')

    link(rel='Shortcut Icon' href='/favicon.ico' type='image/x-icon')
    link(rel='bookmark' href='/favicon.ico' type='image/x-icon')

    meta(name='twitter:card' content='summary' )
    meta(name='twitter:site' content='@gnosis1988' )
    meta(name='twitter:title' content='Holly Quintet' )
    meta(name='twitter:description' content='这个网站可以方便地搜索专辑封面。' )
    meta(name='twitter:url' content='http://hollyquintet.tomaketheendofbattle.com' )

    script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='//cdn.bootcss.com/lodash.js/3.10.1/lodash.min.js')
    script(src='//cdn.bootcss.com/backbone.js/1.2.2/backbone-min.js')
    script(src='//cdn.bootcss.com/backbone.marionette/2.4.2/backbone.marionette.min.js')

    //- script(src='/js/holly-quintet.js')
    script(src='/dist/bundle.js')

    title Holly Quintet
  body.notinited
    #search-form
    #search-results-covers
    #starred-covers

    .templates
      script#search-form-template(type='text/html')
        form.empty(action='/covers' autocomplete='off')
          a.logo(href='/')
            for character in characters
              .dot(class=character.name style={'background': character.color})
          input.query(type='text' name='query' autofocus='autofocus')
          select.scope#scope(name='scope')
            optgroup(label='iTunes')
              option(value='itunes-hk') itunes.apple.com/hk
              option(value='itunes-jp') itunes.apple.com/jp
              option(value='itunes-kr') itunes.apple.com/kr
              option(value='itunes-tw') itunes.apple.com/tw
              option(value='itunes-us') itunes.apple.com/us
              option(value='itunes-uk') itunes.apple.com/uk
            optgroup(label='Amazon')
              option(value='amazon-com') amazon.com
              option(value='amazon-jp') amazon.co.jp
            optgroup(label='其他')
              option(value='orpheus') music.163.com/album
              option(value='qq') y.qq.com/y/static
          button.submit(type='submit'): i.fa.fa-search

      script#search-results-covers-template(type='text/html')
        | <% _.each(items, function(cover, index) { %>
        .cover(class!='<%= index === 0 ? "first-result" : "" %>')
          a.cover-link(
            href!='<%= cover.originSrc %>'
            target='_blank'
            title!='<%= cover.originSrc === cover.src ? "查看图片" : "查看原图" %>'
          )
            img.cover-img(
              src!='<%= cover.src %>'
              data-origin-src!='<%= cover.originSrc %>'
            )
          a(href!='<%= cover.refer %>' target='_blank' title='访问网页').title <%= cover.title ? cover.title : '-' %>
        | <% }) %>

    .info
      a.contact-me(href='https://twitter.com/gnosis1988') i

    a.github(href='https://github.com/arianrhodsandlot/Holly-Quintet')
      img(
        style={
          position: 'absolute',
          top: 0,
          right: 0,
          border: 0
        }
        src='//camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67'
        alt='Fork me on GitHub'
        data-canonical-src='//s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'
      )

    if process.env.NODE_ENV === 'production'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

        ga('create', 'UA-62753388-1', 'auto')
        ga('send', 'pageview')
